{   "presets": [
      "next/babel"
    ],
    "plugins": [
      ["emotion",
        "babel-plugin-styled-components", {
        "ssr": true,
        "displayName": true, 
        "preprocess": false
      }]
    ]
  }