.expand {
    margin-left: 'auto';
    animation: spinup 0.5s linear forwards;
}

.expandOpen {
    margin-left: 'auto';
    animation: spindown 0.5s linear forwards;
}

@keyframes spinup {
    50% {

        transform: rotate(90deg)
    }
    100% {

        transform: rotate(180deg)
    }
}

@keyframes spindown {
    0% {

        transform: rotate(180deg)
    }
    50% {

        transform: rotate(90deg)
    }
    100% {

        transform: rotate(0deg)
    }
}
