@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import '../../static/css/normalize.css';
@import '../../static/css/code-highlight-scala.css';

a {
    color: #000;
    text-decoration: none;
}

a:link {
    color: #000;
}

a:hover {
    color: #F50057;
}

body {
    background-color: #FFF;
}
