.header {
    height: 30vh;
    margin-bottom: 4vh;
    grid-area: header;
    background-repeat: no-repeat;
    border-bottom: 0.5px solid black;
}

.title {
    color: black;
    font-size: 2vw;
    margin-top: 4vh;
    margin-bottom: 3vh;
    margin-left: 2vw;
}

@media (max-width: 1000px) {
    .title {
        font-size: 20px;
    }
}

hr {
    border-width: 1px;
}

.flock {
    margin-left: 20vw;
    opacity: 0.6;
    margin-top: -30vh;
}

