.sidebar {
    grid-area: sidebar;
    font-size: 90%;
    margin-left: 10%;
    margin-top: 20%;
}

.userEmail {
    color: #666;
    font-style: italic;
    font-size: 90%;
}

@media (max-width: 600px) {
    .sidebar {
        width: 300px;
    }
}