@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import '../../static/css/normalize.css';
@import '../../static/css/code-highlight-scala.css';

.blur {

    filter: blur(10px);
    -webkit-filter: blur(10px);

}

:focus {
    outline: none;

}
