
.blur {

    filter: blur(10px);
    -webkit-filter: blur(10px);

}

:focus {
    outline: none;

}


a {
    color: #000;
    text-decoration: none;
}

a:link {
    color: #000;
}

a:hover {
    color: #F50057;
}

body {
    background-color: #FFF;

}

@font-face {
    font-family: "CutiveMono";
    src: url(../fonts/CutiveMono-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "ShareTechMono";
    src: url(../fonts/ShareTechMono-Regular.ttf) format("truetype");
}